<section id="about" class="section-bg">
    <section>
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Mecanicas</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            Son las reglas y sistemas que gobiernan la interacción entre el jugador y el juego. Estas reglas
            definen cómo los elementos del juego responden a las acciones del jugador y cómo se desarrolla la
            experiencia de juego. Las mecánicas son fundamentales para la jugabilidad y pueden abarcar una amplia
            variedad de aspectos, como el movimiento del personaje, la resolución de rompecabezas, el combate, la
            recolección de objetos, la progresión del personaje y mucho más.
          </p>
        </div>
        <!---Seccion uno-->
        <div class="row">
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="images/zelda-1986-screenshot.webp" alt="">
          </div>
          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <h2>The Legend of Zelda (1986)</h2>
            <p>
              The Legend of Zelda marcó el inicio de una saga icónica que ha dejado una huella imborrable en la
              industria de los videojuegos. Este título pionero se destacó por su enfoque innovador en la exploración
              y
              la no linealidad, sentando las bases para la serie.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <strong>Exploración:</strong> Un mundo abierto simple pero lleno
                de secretos</li>
              <li><i class="bi bi-check-circle"></i> <strong>Combate:</strong> Espada y escudo básicos, con algunos
                objetos mágicos</li>
              <li><i class="bi bi-check-circle"></i> <strong>Resolución de puzzles:</strong> Enfoque principal, con
                acertijos basados en objetos y enemigos</li>
            </ul>
          </div>
        </div>
    </section>
    <section class="section-bg">
        <div class="row">
          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <h2>The Legend of Zelda: Ocarina of Time (1998)</h2>
            <p>
              Ocarina of Time, un hito en la historia de los videojuegos, llevó la serie a la tercera dimensión y
              presentó
              una experiencia de juego revolucionaria que fusionó narrativa y jugabilidad de manera magistral.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i><strong>3D:</strong> Transición a un mundo tridimensional,
                expandiendo la exploración</li>
              <li><i class="bi bi-check-circle"></i><strong>Viaje en el tiempo:</strong> Mecánica innovadora que
                modifica el mundo y la historia</li>
              <li><i class="bi bi-check-circle"></i><strong>Nuevos objetos:</strong> Amplia gama de objetos con
                diferentes usos</li>
              <li><i class="bi bi-check-circle"></i><strong>Combate más complejo: </strong>Mayor variedad de enemigos y
                estrategias</li>
            </ul>
          </div>
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="images/zelda-oot-screenshot.webp" alt="">
          </div>
        </div>
        </div>
      </section>
      <!---Seccion dos-->
      <section class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
              <img src="images/zelda-tp-screenshot.webp" alt="">
            </div>
            <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
              <h2>The Legend of Zelda: Twilight Princess (2006)</h2>
              <p>
                Twilight Princess se destacó por su estética oscura y su enfoque más maduro. Introdujo nuevas mecánicas
                que exploraron la dualidad de Link y expandieron la experiencia de juego.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i><strong>Transformación en lobo:</strong> Mecánica única que abre
                  nuevas posibilidades</li>
                <li><i class="bi bi-check-circle"></i><strong>Mundo más oscuro:</strong> Atmósfera más madura y
                  desafiante</li>
                <li><i class="bi bi-check-circle"></i><strong>Combate a caballo:</strong> Mayor dinamismo en las
                  batallas.</li>
              </ul>
            </div>
          </div>
      </section>
      <section class="section-bg">
        <div class="row">
          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <h2>The Legend of Zelda: Skyward Sword (2011)</h2>
            <p>
              Skyward Sword innovó con el control por movimiento, sumergiendo a los jugadores en una experiencia única.
              Su
              énfasis en la historia y la conexión con la Espada Maestra marcó un cambio significativo en la serie.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i><strong>Control por movimiento:</strong> Uso del Wii MotionPlus para
                controlar la espada.</li>
              <li><i class="bi bi-check-circle"></i><strong>Vuelo:</strong> Nueva forma de explorar el mundo con
                libertad</li>
              <li><i class="bi bi-check-circle"></i><strong>Historia más profunda:</strong> Mayor énfasis en la
                narrativa y los personajes</li>
            </ul>
          </div>
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="images/zelda-ss-screenshot.webp" alt="">
          </div>
        </div>
        </div>
      </section>
      <!---Seccion tres-->
      <section class="section-bg">
        <div class="container-fluid" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
              <img src="images/zelda-botw-screenshot.webp" alt="">
            </div>
            <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
              <h2>The Legend of Zelda: Breath of the Wild (2017)</h2>
              <p>
                Breath of the Wild revolucionó la serie con un mundo abierto expansivo y una libertad sin precedentes.
                Abandonando las convenciones establecidas, el juego introdujo mecánicas que desafiaron las expectativas
                de
                los jugadores.
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i><strong>Mundo abierto extenso:</strong> Libertad total para
                  explorar y descubrir</li>
                <li><i class="bi bi-check-circle"></i><strong>Física realista:</strong> Interacción con el entorno de
                  forma natural.</li>
                <li><i class="bi bi-check-circle"></i><strong>Supervivencia:</strong> Nuevos elementos como la cocina y
                  la escalada.</li>
              </ul>
            </div>
          </div>
      </section>
      <section class="section-bg">
        <div class="row">
          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
            <h2>The Legend of Zelda: Tears of the kingdom (2023)</h2>
            <p>
              Zelda: Tears of the kingdom continúa la senda revolucionaria de Breath of the Wild, expandiendo el mundo
              abierto y la libertad de exploración a nuevos niveles. Con mecánicas innovadoras y una narrativa
              intrigante,
              este título promete ser una experiencia inolvidable para los jugadores.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i><strong>Expansión de mundo abierto:</strong>Expansión del mundo
                abierto mediante las islas en los cielos, las cavernas y cuevas</li>
              <li><i class="bi bi-check-circle"></i><strong>Nueva habilidades:</strong>Nuevas habilidades para construir
                y fusionar los objetos del entorno</li>
              <li><i class="bi bi-check-circle"></i><strong>Físicas avanzadas:</strong> Para una interacción más
                realista con vehiculos y estructuras</li>
            </ul>
          </div>
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="images/zelda-totk-screenshot.jpg" alt="">
          </div>
        </div>
        </div>
      </section>
    </section>