<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="cta-title">The Legend Of Zelda: Tears of the kingdom</h3>
          <p class="cta-text">The Legend of Zelda: Tears of the Kingdom es la última entrega de la legendaria saga de
            Nintendo, lanzada en 2023 para la consola Nintendo Switch. El juego continúa la historia de Link y Zelda
            tras los eventos de Breath of the Wild, con un Hyrule reconstruido que se ve amenazado por una nueva y
            misteriosa fuerza.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle"
            href="https://www.nintendo.com/es-mx/store/products/the-legend-of-zelda-tears-of-the-kingdom-switch/" target="_blank">Comprar
            ahora</a>
        </div>
      </div>
    </div>
  </section>