<section id="contact" class="section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>Alfonso Landeros</h3>
            <p>Página web landing page desarrollada para la clase de programación para internet<br>
              Maestro: Bonilla Carranza, José Luis David<br>
              Sección: D04
              Ciclo: 2024A
            </p>
            <div class="social-links">
              <a href="https://x.com" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/alfonso.landeros.6/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/alfonso.landeros.6/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/alfonso-landeros-quiroz-8892b62b6/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p>Blvd. Gral. Marcelino García Barragán 1421, Olímpica 44430<br>Guadalajara, Jalisco</p>
            </div>
            <div>
              <i class="bi bi-envelope"></i>
              <p>alfonso.landeros5047@alumnos.udg.mx</p>
            </div>
            <div>
              <i class="bi bi-phone"></i>
              <p>3331827244</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-lg-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                </div>
                <div class="form-group col-lg-6 mt-3 mt-lg-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Correo"
                    data-rule="email" data-msg="Please enter a valid email">
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="text-center mt-3"><button title="Send Message">Envíar</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>