<section id="hero">

    <div class="hero-text" data-aos="zoom-out">
      <h2>Evoluci칩n de las mec치nicas en la saga The Legend Of Zelda</h2>
      <p class="description-text">Veremos un repaso a la evoluci칩n de las mecanicas en la saga de The Legend Of Zelda a tr치ves del tiempo en algunos de los
        juegos de su saga principal</p>
    </div>

    <div class="product-screens">
      <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
        <img src="images/tloz-totk-portada.jpg" alt="" width="400">
      </div>
      <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
        <img src="images/tloz-tp-portada.webp" alt="" width="400">
      </div>
      <div class="product-screen-3" data-aos="fade-up">
        <img src="images/tloz-1986-portada.jpg" alt="" width="400">
      </div>
    </div>

</section>