<section id="lineadeltiempo" class="mt-5">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">Linea del tiempo</h3>
        <span class="section-divider"></span>
        <p class="section-description">Linea de tiempo de los seis juegos que tomamos en cuenta para esta landing page
        </p>
        <div class="d-flex justify-content-center align-items-center">
          <img src="images/lineaDelTiempo.jpg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
